.header {
    padding: 40px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.header .logo a {
    color: #fff;
    font-size: 3rem;
}
.header .menu {
    width: 30px;
    height: 20px;
}
.header .menu span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
}
.hero-section {
    height: 100vh;
    min-height: 700px;
    width: 100%;
    background-image: url(../images/hero_1.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.hero-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}
.hero-section .hero-content {
    color: #fff;
    height: 100vh;
    min-height: 700px;
}
.hero-section .hero-content h1 {
    font-size: 8rem;
}
.hero-section .hero-content p {
    font-size: 3rem;
    margin-bottom: 35px;
    font-weight: 200;
    color: #fff;
}
.hero-section .hero-content p a {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}
.hero-section .hero-content p a:hover {
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}
.hero-section .hero-content .botton {
    display: inline-block;
    padding: 15px 25px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    transition: all 0.5s;
}
.hero-section .hero-content .botton:hover {
    background-color: #fff;
    color: #000;
}
.hero-section .scroll-bottom {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.hero-section .scroll-bottom * {
    color: #fff;
    display: block;
}
.hero-section .scroll-bottom p {
    transform: rotate(90deg);
    font-size: 1.2rem;
}
.hero-section .scroll-bottom span {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 200;
}
.welcome p {
    line-height: 1.8;
}
.welcome .call-to-action {
    gap: 10px;
}
.welcome .call-to-action .icon {
    width: 50px;
    height: 50px;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #3f9a94;
    padding-left: 3px;
    transition: all 0.5s;
}
.welcome .call-to-action .text p {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #65c0ba;
    font-weight: bold;
    transition: all 0.5s;
}
.welcome .call-to-action:hover .icon {
    border-color: #000;
    color: #000;
}
.welcome .call-to-action:hover .text p {
    color: #3f9a94;
}
.experience .items img {
    width: 70px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}
/* .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
} */
.slider .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #495057;
    transition: all 0.5s;
}
.slider .prev {
    left: -50px;
}
.slider .next {
    right: -50px;
}
.slider .arrow:hover {
    color: #6c757d;
}
.slider .pagination {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 45px;
}
.slider .pagination ul {
    gap: 10PX;
}
.slider .pagination ul li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #fff;
}
.slider .pagination ul li.active {
    border: 2px solid #fff;
    background: transparent;
}
.blog::before {
    position: absolute;
    top: -350px;
    left: -10px;
    content: "";
    transform: rotate(-4deg);
    background-color: #65c0ba;
    width: 120%;
    padding: 250px 0;
    z-index: -1;
}
.blog .items ul li .bottom-content {
    background-color: #fff;
    padding: 4rem;
}
.blog .items ul li .bottom-content .date {
    color: #ced4da;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.blog .items ul li .bottom-content .title a {
    line-height: 1.2;
    color: #000;
    min-height: 70px;
    transition: all 0.5s;
}
.blog .items ul li .bottom-content .title a:hover {
    color: #65c0ba;
}
.blog .items ul li .bottom-content .description {
    min-height: 165px;
}
.testimonial .items ul li img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.testimonial .items ul li .text {
    color: #000;
    font-size: 2rem;
    line-height: 1.5;
    min-height: 180px;
}
.destination .items ul li .bottom-content a {
    color: #000;
    transition: all 0.5s;
    font-size: 2rem;
    display: block;
    padding-top: 5px;
}
.destination .items ul li .bottom-content a:hover {
    color: #65c0ba;
}
.destination .items ul li .bottom-content .rating ul li i {
    color: #65c0ba;
    font-size: 1.2rem;
    padding: 0 3px;
}
.destination .items ul li .bottom-content .reviews i {
    color: #ccc;
    font-size: 1.8rem;
    font-weight: 200;
}
.footer ul li a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.8rem;
    font-weight: 200;
    transition: all 0.5s;
}
.footer ul li a:hover {
    color: #fff;
}
.footer .title {
    font-size: 1.7rem;
}
.footer ul li .subtitle {
    font-size: 1.8rem;
    font-weight: 200;
    font-style: italic;
}
.footer ul li p {
    color: rgba(255, 255, 255, 0.5);
}
.footer .newsletter form {
    padding: 6px 12px;
}
.footer .newsletter form input {
    width: 100%;
    background: transparent;
    border: none;
    outline: 0;
    color: #fff;
    font-size: 1.6rem;
    padding: 10px 36px 14px 0px;
    text-indent: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.5s;
}
.footer .newsletter form input:focus {
    border-color: #fff;
}
.footer .newsletter form input::placeholder {
    color: rgba(255, 255, 255, 0.2);
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 200;
}
.footer .newsletter form button {
    position: absolute;
    right: 0;
    bottom: -2px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 30px;
    cursor: pointer
}
.footer .copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 30px;
}
.footer .copyright p {
    color: rgba(255, 255, 255, 0.5);
}
.footer .copyright a {
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.5s;
}
.footer .copyright a:hover {
    color: #fff;
}
.footer .social ul {
    gap: 25px;
    padding: 30px 0;
}